
.container {
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.child {
    margin: auto;
    max-width: 250px;
    text-align: center;
}

header {
    width: 98%;
    position: fixed;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  }

.logo {
    background-color:rgb(12, 12, 12);
    color: ghostwhite;
}

.logo:hover {
    color: gold;
}
